.card-info {
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin-bottom: 20px;
	margin-top: 30px;
	margin: 20px;
	flex-basis: 400px;
	flex-grow: 1;
	padding: 30px;
}

.card-info h2 {
	text-align: center;
}